@tailwind base;
@tailwind components;
@tailwind utilities;



/**Custom classes**/

.theme-bg-violet {
    background-color: #0E8388;
}

.theme-bg-dark-blue {
    background-color: #2E4F4F ;
}

.theme-bg-light-blue {
    background-color: #cbe4de80;
}

.theme-bg-green {
    background-color: #18A600;
}

.theme-bg-light-green {
    background-color: #dafde2;
}

.theme-bg-red {
    background-color: #834D4D;
}
.theme-bg-blue {
    background-color: #2094F3;
}
